@tailwind base;
@tailwind components;
@tailwind utilities;

/* input.css */

/* Kelas untuk input yang aktif */
.input-field {
  position: relative;
  margin-top: 20px; /* Ruang di atas input untuk animasi */
}

/* Kelas untuk animasi label */
.label-placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 16px;
  color: gray;
  transition: all 0.2s ease-in-out;
  pointer-events: none; /* Mencegah interaksi dengan label */
}

/* Kelas untuk label aktif */
.input-field input:focus + .label-placeholder,
.input-field input:not(:placeholder-shown) + .label-placeholder {
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: indigo; /* Warna saat label aktif */
}

/* Menyembunyikan placeholder asli */
.placeholder-transparent::placeholder {
  color: transparent; /* Placeholder tidak terlihat */
}
